<div class="container">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 mb-5">
      <div class="form-standard">
        <h2>Add a New Tour</h2>
        <%= simple_form_for(@tour) do |f| %>
          <%= f.input :name %>
          <%= f.input :description %>
          <%= f.input :long %>
          <%= f.input :lat %>
          <%= f.input :photos, as: :file, input_html: { multiple: true } %>
          <%= f.button :submit, class: "btn-create-tour" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
